  body {
    font-family: serif;
    text-align: center;
    background-color: #aff8a6;
    color: #000000;
  }

  table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    text-align: center;
    /*текст по центру*/
    width: auto;
    /*Ширина таблицы*/
    margin: auto;
    /*Выравниваем таблицу по центру окна*/
    border: 2px solid rgb(0, 0, 0);
    /*Рамка вокруг таблицы*/

  }

  td {
    border: 2px solid rgb(0, 0, 0);
    /* Рамка вокруг таблицы */
    font-size: 15px;
  }
  

  .button {
    background-color: #3ce919; /* Green */
    border: none;
    color: rgb(231, 25, 221);
    padding: 0px 0px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.cd {
  text-decoration: none;
}