body {
    font-family: Georgia;
    background-color: #abf1a1;
    color: #282191;
  }
  
  th {
    border: 3px solid grey;
    /*text-align: none;*/
    /*font-size: 20px;*/
    /*margin-bottom: 0;*/
  }
  
  table {
    text-align: none;
    font-size: 20px;
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 5px solid rgb(161, 15, 15);
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
  }