body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #79db76;
  text-align: center;
}

.fontstyle-1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: blue;
  text-shadow: 0px 2px 3px rgb(145, 145, 145);
  background-color: #5bf17c;
  border: 3px solid hsl(119, 63%, 84%);
  border-radius: 10px;
  text-decoration: none;
  font-weight: bolder;
  padding: 5px 30px;
  text-align: inherit;
  display: block;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*transition-duration: 0.2s;*/
  /*-webkit-transition-duration: 0.2s;*/
}

.fontstyle-1:hover {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  /* background-color: #1900ff;
    color: rgb(0, 247, 255);*/
}

.fontstyle-2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10px;
  color: blue;
  text-shadow: 0px 2px 3px rgb(145, 145, 145);
  background-color: #6af096;
  border: 2px solid hsl(118, 81%, 62%);
  border-radius: 4px;
  text-decoration: none;
  font-weight: bolder;
  padding: 1px 6px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fontstyle-2:hover {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.text-h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 2px 20px rgb(75, 75, 75);
}

.text-h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  color: blue;
  text-shadow: 0px 2px 20px rgb(88, 88, 88);
}

table {
  font-weight: 600;
  text-shadow: 0px 2px 8px rgb(182, 182, 182);
  background: rgb(162, 206, 204);
  border-collapse: collapse;
  /*убираем пустые промежутки между ячейками*/
  text-align: initial;
  width: auto;
  /*Ширина таблицы*/
  margin: auto;
  /*Выравниваем таблицу по центру окна*/
}

td {
  border: 1.5px solid rgb(0, 0, 0);
  /* Рамка вокруг таблицы */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

th {
  border: 1.5px solid rgb(0, 0, 0);
  /* Рамка вокруг таблицы */
  font-size: 12px;
}